*{
    padding: 0;
    margin: 0;
}.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}
input{
    margin: 0px 15px;
    height: 20px;
    font-size: 15px;

}
button{
    height: 25px;
    width: 100px;
    margin: 0px 5px;
    font-weight: 600;
    font-size: 15px;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}
.addButton{
    background-color: green;
}
.clear{
    background-color: rgb(255, 0, 0);
}
label{
    font-size: 25px;
}